@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');
:root {
    --white: #fff;
    --green: #53d153;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* begin */
header {
    padding: 10px 0;
    min-height: 100vh;
    background: url('../image/bg_header.jpg') no-repeat center/cover;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

#menu {
    list-style: none;
}

#menu li {
    padding: 10px 0;
}

#menu li a {
    color: var(--white);
    font: 700 1em "Roboto";
}

form {
    display: flex;
}

form input, form button{
    border: 0;
    padding: 5px 10px;
}

#title>h1 {
    font: 700 2em Montserrat;
    color: var(--white);
    margin-bottom: 40px;
}
#title>button {
    border: 0;
    padding: 15px 24px;
    font-size: 1.3em;
    color: var(--white);
    font-family: "Roboto";
    background: var(--green);
    border-radius: 21px;
    text-transform: uppercase;
}
form input {
    border-radius: 1em 0 0 1em;
}
form input::placeholder {
    font-weight: 700;
}
form button {
    border-radius: 0 1em 1em 0;
    display: flex;
    align-items: center;
}
.scroll {
    border: 0;
    background: #bfbdbd;
    color: #111;
    font: 300 1em "Roboto";
    border-radius: 12px;
    padding: 5px 16px;
}
/* end */

.what_we_do {
    padding: 25px 15px;
}
.title_head {
    text-align: center;
}
.title_head > h2 {
    font: 300 1.2em Montserrat;
    word-spacing: 4px;
    color: #828181;
    text-transform: uppercase;
}
.line {
    width: 43px;
    height: 2px;
    background: #818181;
    margin: 12px auto;
}
.title_head>p {
    font-size: 1em;
    color: #b7b3b3;
    font-family: "Roboto";
}

#what, .col {
    margin-top: 25px;
}

.img {
    display: inline-block;
    padding: 34px 29px;
    background: #e0f3e0;
    border-radius: 21px;
}

.col>h3 {
    font-size: 700 1.5em "Roboto";
    color: #828181;
    margin: 8px 0;
}

.col>p {
    font-size: 300 .9em "Montserrat";
    color: #828181;
}


@media only screen and (min-width: 768px) {
    header {
        padding: 10px 30px;
    }
    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    #menu {
        display: flex;
    }
    #menu li {
        padding-left: 10px;
        position: relative;
        padding-right: 10px;
    }
    #menu li::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        right: 0;
        width: 0%;
        height: 5px;
        background: var(--green);
    }
    #menu li:hover::before {
        width: 100%;
    }
    #title>h1 {
        font-size: 3.5em;
    }
    .what_we_do {
        /* height: 575px; */
        padding: 55px 10px;
    }
    .container {
        max-width: 980px;
        width: 100%;
        margin: auto;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    #what {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 80px;
    }
    .col {
        flex-basis: 250px;
        text-align: center;
    }
    .work {
        padding: 43px 0 53px 0;
        background: var(--green);
    }
}