@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

:root {
    --white: #fff;
    --green: #54d154;
    --gray: #f2f1f1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 0;
    min-height: 100vh;
    background: url('../image/bg_header.jpg') no-repeat center/cover;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

#menu {
    list-style: none;
}

#menu li {
    padding: 10px 0;
}

#menu li a {
    color: var(--white);
    font: 700 1em "Roboto";
}

form {
    display: flex;
}

form>input,
form>button {
    border: 0;
    padding: 5px 10px;
}

h1 {
    font: 700 2em Montserrat;
    color: var(--white);
}

h2 {
    font: 300 1.25em Montserrat;
    letter-spacing: 4px;
    color: #828181;
    text-transform: uppercase;
}

h6 {
    font: 1em Roboto;
    color: #b7b3b3;
}

hr {
    width: 43px;
    border: 0;
    border-top: 2px solid #818181;
    margin: 10px auto;
}

#title>button {
    border: 0;
    padding: 15px 24px;
    font-size: 1.3em;
    color: var(--white);
    font-family: "Roboto";
    background: var(--green);
    border-radius: 21px;
    text-transform: uppercase;
    margin: 4vh 0;
}

form input {
    border-radius: 1em 0 0 1em;
}

form input::placeholder {
    font-weight: 700;
}

form>button {
    border-radius: 0 1em 1em 0;
    display: flex;
    align-items: center;
}

.scroll {
    border: 0;
    background: #bfbdbd;
    color: #111;
    font: 300 1em "Roboto";
    border-radius: 12px;
    padding: 5px 16px;
}

.bg-white { background: var(--white); }
.bg-green { background: var(--green); }
.bg-gray { background: var(--gray); }

.bg-green>h2 { color: #207b20; }
.bg-green>hr { border-top: 2px solid #1f7b1f }
.bg-green>h6 { color: #2b9b2b }

main>section {
    text-align: center;
    padding: 2em;
}

#article article {
    padding: 25px 0;
}

#buttons {
    padding: 58px 0;
    display: flex;
    justify-content: center;
}

#buttons button {
    background: var(--white);
    color: #2b9b2b;
    padding: 10px 21px;
    border: 1px solid #2b9b2b;
}

#buttons button.active, #buttons button:hover {
    background: #2b9b2b;
    color: var(--white);
}

#buttons button:first-of-type { border-radius: 1em 0 0 1em; }
#buttons button:last-of-type { border-radius: 0 1em 1em 0; }

#article article span {
    width: 142px;
    height: 142px;
    font-size: 5.4em;
    background: #e0f3e0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 27px;
}

#pictures img {
    width: 100%;
    margin: 15px 0;
}

.button_work button {
    background: #2b9b2b;
    color: #fff;
    font: 1.2em Roboto;
    padding: 12px 19px 14px 19px;
    border-radius: 17px;
    border: 0;
    margin-right: 25px;
}

#brand {
    padding: 15px 0;
}

#brand img{
    height: 80px;
    width: 100%;
    margin: 10px 0;
    object-fit: contain;
    filter: grayscale(1);
}

.bg-gray > .button_work button {
    background: #dddcdc;
    font: 1.2em Roboto;
    color: #a59d9d;
    padding: 12px 33px 12px 55px;
}

.bg-gray > .button_work button i {
    margin-right: 15px;
    float: right;
}

@media only screen and (min-width: 768px) {
    header {
        padding: 10px 30px;
    }
    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    #menu {
        display: flex;
    }
    #menu li {
        padding-left: 10px;
        position: relative;
        padding-right: 10px;
    }
    #article {
        display: flex;
        padding: 24px 0;
    }
    #article article {
        padding: 24px 30px;
    }
    #pictures {
        max-width: 920px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #pictures img {
        width: 160px;
        height: 160px;
        object-fit: cover;
        margin: 10px;
    }
    #brand {
        padding: 87px 0 60px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #brand img {
        max-width: 150px;
        margin: 0 110px;
    }
    .button_work {
        padding-bottom: calc(60px - 32px);
    }
}